.category{
  background-color: #fff;
  //padding: 10px 10px 30px 10px;
  //border-radius:5px;

  .category-form{
    height: 90px;
    .category-form-item{
      padding: 20px;
      .category-form-col{
        text-align: left;
        .category-form-col-button{
          margin-left:20px;
        }
      }
    }
  }
  ul.ant-pagination{
    margin-right:10px;
  }
}