nav{
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
    margin-right: 10px;
    ul{
        li{
            height: 30px;
            //line-height: 30px;
            margin: 10px 5px;
            cursor: pointer;
            border-bottom: 1px solid #eee;
        }
    }
}

main{
    border: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;

    .main-topics {
        margin-bottom: 20px;
        li.ant-list-item{
            padding-left: 10px;
        }
        ul.ant-pagination{
            margin-right:10px;
        }
    }

}

/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 100px;
    line-height: 100px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}
