.tech{
    background-color: #fff;
    height: 500px;
    //border-radius: 5px;
    h1{
        padding-top: 20px;
        text-align: center;
        color: #ff6a00;
    }
    h3{
        text-align: center;
    }
    ul.three-menu-list li{
        text-align: left;
        text-decoration: underline;
        margin-left:60px;
    }
}